html, body {
  margin: 0;
  padding: 0;
  position: center;
  background-color: rgba(255);
}


.btn 
{
  background-color: white;
  border: none;
  color: #080FFF;
  padding: 10px 10px;
  font-size: 40px;
  cursor: pointer; 
  position: absolute;
  top:  45%;      
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  font-family: 'Black Ops One', serif;
}

.btn:hover 
{
  background-color: #E14141;
}

.backbtn
{
  background-color: white;
  border: none;
  color: #080FFF;
  padding: 8px 10px;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  left: 650px;
  top: 585px;
  border-radius: 10px;
}

.backbtn:hover 
{
  background-color: #E14141;
}

.music
{
  background-color: white;
  border: none;
  color: #080FFF;
  padding: 8px 10px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  left: 552px;
  top: 212px;
  border-radius: 10px;
  
}

.music:hover
{
  background-color: #E14141;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: .5;
  opacity: .3;
}
